<div style=justify-content: center">
  <h1>Game Results Page</h1>
  <br>
  <p id="displayedScore">Score</p>
  <br>
  <p id="questionsAnswered">Questions Answered</p>
  <br>
  <br>
  <button id="setCookieBtn">Set Cookie</button>
</div>
