<head>
  <title>New Gameboard Available!</title>
</head>
<body>
  <h1>New Gameboard Available!</h1>
  <p>Dear <%= @user.username %>,</p>
  <p>A new gameboard is now available for you to explore.</p>
</body>