/* Background */
body {
  background-color: #111827;
  color: white;
}

/* Style for the game grid table */
.table-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-table;
}

.game-grid {
  text-align: center;
}

/* Style for individual cells */
.game-cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  background-color: #1F2937 ;
}

/* Popup styles */
#popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color:#1F2937;
  border: 1px solid black;
  z-index: 1000;
}

/* Close button styles */
#closeBtn {
  float: right;
  cursor: pointer;
}
